<%- if devise_mapping.omniauthable? && resource_name == :user %>
  <%= link_to omniauth_authorize_path(resource_name, :vkontakte) do%>
    <span class="fa fa-vk"></span> <%= t('.vk')%>
<% end %><br>
  <%= link_to omniauth_authorize_path(resource_name, :twitter) do %>
    <span class="fa fa-twitter"></span> <%= t('.twitter')%>
<% end %><br>
  <%= link_to omniauth_authorize_path(resource_name, :facebook) do%>
    <span class="fa fa-facebook"></span> <%= t('.facebook')%>
<% end %>
<%#   <%= link_to omniauth_authorize_path(resource_name, :weibo) do%>
<%#     <span class="fa fa-weibo"></span> <%= t('.weibo')%>
<%# <% end %><br>
<% end -%>

<hr>

<%- if controller_name != 'sessions' %>
  <%= link_to t('.login'), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t('.signup'), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t('.forgot_password'), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
